.service_container{
    display: flex;
    justify-content: space-around;
    background:linear-gradient(to top,rgba(245, 201, 79, 0.5)0,rgba(0,0,0,0.2)100%,
    rgba(0,0,0,0.8)100%);

}
.service{
    /* border: 1px solid black; */
    width: 25rem;
    text-align: center;
    padding: 1rem 1rem;
    background:linear-gradient(to top,rgba(245, 201, 79, 0.5)0,rgba(0,0,0,0.2)100%,
    rgba(0,0,0,0.8)100%);
}
.service h2{
    text-align: center;
    padding-bottom: 0.6rem;
    color: #fff;
    text-shadow: 4px 4px 2px #111;
    font-size: 1.8rem;
}
.service p{
    padding: 0.5rem;
    color: #444;
    font-weight: 600;
    /* text-shadow: 1px 2px  1px #fcde5a; */
}
.service.subscription{
    padding-top: 5rem;
}
.service.free{
    padding-top: 8rem;
}