.login_body{
    /* background: linear-gradient(to bottom,rgba(243, 203, 95,0.3)0,rgba(236, 180, 25,0.8)100%
    ,rgba(236, 180, 25,0.8)100%); */
    background-position: fixed;
    background-size: cover;
    background-image: url("../../img/loginbg.jpg");
}
.login_container{
    /* border: 1px solid black; */
    margin: 2.9rem 18.5rem;
    width: 50%;
    height: 22rem;
    color: #fff;
    
}
.login_container h1{
    text-align: center;
    margin-top: 1rem;
}
.input_box{
    margin: 1.5rem 13.9rem;
}
.login_container label{
    /* margin: 2rem 0; */
    font-size: 1.5rem;
    font-weight: 600;
}
.login_container input{
    width: 16rem;
    height: 1.8rem;
    background: transparent;
    color: #f1cb20;
    font-size: 1.2rem;
    font-weight: 600;
    margin-bottom: 0.8rem;
    
}
.login_container button{
    margin: 1rem 4.3rem;
    padding: 0.3rem 2rem;
    font-size: 1.1rem;
    background: transparent;
    font-weight: 600;
    color: #fff;
    cursor: pointer;
}
.login_container button:hover{
    color: #f1cb20;
}
.login_container a{
    color: #fff;
   position: relative;
   left: 18.5rem;
}

/* register section */

.register_body{
    background-position: fixed;
    background-size: cover;
    background-image: url("../../img/register.jpg");
    height: 86vh;
    overflow: hidden;
}

.register_container{
    /* border: 1px solid black; */
    width: 30%;
    margin: 2rem 16rem;
}
.register_container h1{
    text-align: center;
    font-weight: 600;
    font-size: 3rem;
}  
.register_row{
    display: flex;
    justify-content: center;
    align-items: center;
} 
.register_row img{
    width: 1.8rem;
   
}
.register_details input{
    width: 17rem;
    height: 2rem;
    margin: 1rem;
    border: 2px solid black;
    border-radius: 1rem;
    background: transparent;
    font-size: 1.2rem;
    font-weight: 600;
}
::placeholder{
    color: #333;
    text-align: center;
}
.register_details button{
    margin: 0.5rem 9.5rem;
    padding: 0.2rem;
    font-size: 1.3rem;
    font-weight: 600;
    border-radius: 0.3rem;
    background: linear-gradient(rgba(255,255,255,0.8),rgba(0,0,0,0.2),rgba(255,255,255,0.8));
    transition: all 0.5s;
    cursor: pointer;
}
.register_details button:hover{
    color: #f1cb20;
}
.register_quote h3{
    color: #fff;
   position: relative;
   top: -2rem;
   left: 51rem;
   font-size: 0.8rem;
   font-weight: 600;
}